<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="dirE530881A633FDBB7229DD4CC1E5945E5" Name="distributions">
                <Directory Id="dir1DD330EAD960468DB49D4089E73DA5C2" Name="dsb-gui-2.1.2">
                    <Directory Id="dir32E52EA4FBBA795117D2AB67BA2E71AC" Name="bin">
                        <Component Win64="yes" Id="cmp1F5E6787B0E062743357444FC019333C" Guid="*">
                            <File Id="fil003DA65A7D4CBDE6764639E123D8904E" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\bin\dsb-gui.exe" />
                        </Component>
                    </Directory>
                    <Directory Id="dir3B17FB061948CCFB6DDB334FB0FABB45" Name="lib">
                        <Component Win64="yes" Id="cmp2F0E10E3CFB146C8AE8C51C8BC290CBC" Guid="*">
                            <File Id="filC170500F5436D38D67E3C6512742F5B0" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\afterburner.fx-1.7.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp7D28BCFE40F214AEA24D23DA87A2FE66" Guid="*">
                            <File Id="fil4686700A1E389463693E6B7A6F8FF47F" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\animal-sniffer-annotations-1.14.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp310E0035D2E63807B6652BF6C5F0A0DA" Guid="*">
                            <File Id="filA51F79E4F2847B1E7E2FD65E736383AF" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\annotations-13.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpD0BE106772CC8CF533D6D71830C80705" Guid="*">
                            <File Id="fil06ACCBE778FAAF191960C6BD225AD152" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\annotations-3.0.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpE07A5373FC4030E9BCD5A8005CE33690" Guid="*">
                            <File Id="fil632A2FC2A454ECAF0F8B1147FB5A99BD" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\aopalliance-1.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp0AFC3507FCF4F7E4F3AA0CB891CE8D1B" Guid="*">
                            <File Id="filA24553449C6AA35DD757EAAC62A6E55D" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\commons-codec-1.10.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp72D1C1D3F9C66ED41E88E49C0A1064FE" Guid="*">
                            <File Id="fil5AB10CE58485AC37225EDBE3FC1CCFF3" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\commons-io-2.4.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpC8C7554CA0091C23FD363044733247E3" Guid="*">
                            <File Id="fil0FB49D559988856EC7E06E51C20D0483" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\commons-logging-1.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpD7D13FC2E0B344E865F6B7AEB4399BD1" Guid="*">
                            <File Id="fil85160ECDA707DCB71845330745C90330" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\controlsfx-8.40.12.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp4C301D9B18D777D7B98802A696D944B8" Guid="*">
                            <File Id="fil1D7FB5FF708FF1E3B7D73C88B0F94ED5" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\ds3-interfaces-3.5.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp672C191DD34CF7A6FBA0D5E658B1AA5F" Guid="*">
                            <File Id="fil1DBBAF582938712C132C8D43072C49AE" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\ds3-metadata-3.4.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp43726A2027D40BB09BA692050E470D67" Guid="*">
                            <File Id="fil896FF7132116115A941CC096E28FA92F" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\ds3-sdk-3.5.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp58A8C7F6ADEDB2F7544CC9EFB46ED40D" Guid="*">
                            <File Id="fil8AEB55F238779465F36D8FDB18BE2B02" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\ds3-utils-3.5.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpEF066987E9E5878CB973D2B86FCFA408" Guid="*">
                            <File Id="filDBAB10CA25E76739741355112FC1B074" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\dsb-api-2.1.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpA03E4C6C50F111EBF1A542C3A64F0154" Guid="*">
                            <File Id="filDFFE7699463FAAD71B55D0DC7679BB6A" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\dsb-gui-2.1.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpED4092133960B34E33790CC561686018" Guid="*">
                            <File Id="fil27C2FA7F0C3E2E6E85C2C1C5B7F143C2" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\dsb-util-2.1.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp29A27A7B17D60C596DBB4032AF3AF92D" Guid="*">
                            <File Id="fil28BE6388EA748BF51CFFA46CCB1F6A30" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\error_prone_annotations-2.0.18.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpE200C5BB3AAF25033AD321FEA0C90AE8" Guid="*">
                            <File Id="fil9931DCBB3D5F62E0CB6192703839B84E" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\fast-classpath-scanner-2.0.5.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp6B91473AA5020B7BC378E5D9B3A8745E" Guid="*">
                            <File Id="fil82E84C2EDC74D481C7CD5742FA0973B4" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\flowless-0.4.5.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp774708CAFEE17BFA4EF1EB34FDF472FE" Guid="*">
                            <File Id="fil28FC434DA845CB302A645C3437D0A1D9" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\fontawesomefx-8.9.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp5DE08AF868EC3320D67087892D9A53BB" Guid="*">
                            <File Id="filC8DBBC68FF83655B3C9318DCDFA2C308" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\guava-23.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpA38F84027BB25941B0588A2C704745AE" Guid="*">
                            <File Id="filCA181F2D616661F96BAAD4EBBD7D8F29" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\guice-4.1.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp15269B6E12DE6EBBE80C994C6302BE95" Guid="*">
                            <File Id="fil8273CE4159AA32836CE61852857E6119" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\guice-assistedinject-4.1.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpE55847AAEAA420C4D1C87E77FC27A6F5" Guid="*">
                            <File Id="filCEAD39D9994DFDB8A5A68CEA0C738521" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\httpclient-4.5.3.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp196BEFDF4613CD61CD9F870F26B2EE81" Guid="*">
                            <File Id="filEF8C56341348AE7A2773E2D1B90F1C77" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\httpcore-4.4.6.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp42D7A12DA413486C9F2F5027CE575EB0" Guid="*">
                            <File Id="fil1BD5ED08D9B4C2D7CD6F96A316D57DFD" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\j2objc-annotations-1.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp27C616E0D0208FBF8B808435300B59C9" Guid="*">
                            <File Id="fil507B4340EBF8602873781726AE50307E" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\jackson-annotations-2.9.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpB109C2B6482C9BF3332F7E87D6361A24" Guid="*">
                            <File Id="filAF792DD65B659E18F1B139BCA028D82B" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\jackson-core-2.9.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp5ABF0991010B74AD24DE8DDC9C0C5929" Guid="*">
                            <File Id="filBCD09BF7286F2C0D26BC67A5A13A8690" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\jackson-databind-2.9.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpC1F0ADC7C8E57FAE0E7980860B707853" Guid="*">
                            <File Id="filC60B93CEBE4FFAC9C56AFC9B129D790A" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\jackson-dataformat-xml-2.9.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpB79A7A525E1D37A1517D7C716FF31D1C" Guid="*">
                            <File Id="fil039C2A8DEAAB8388F0253DED69E87039" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\jackson-datatype-jdk8-2.9.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpCF5F54BE4D0022DB8E90A919C408619D" Guid="*">
                            <File Id="fil8A87493DA9E9C4E0B142EAF866FF4B26" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\jackson-module-jaxb-annotations-2.9.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp194B58233695E7844A956E9BBB38E819" Guid="*">
                            <File Id="filD690F49DE3EDEA34755B7C99587CEE7F" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\javax.inject-1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp9B4D17455E26AE67790791198F0E8B9F" Guid="*">
                            <File Id="filD5B8C914D434AD1BA025068AD0314793" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\jcip-annotations-1.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp3313E64AAB3EB56B47E5EA65212E38CC" Guid="*">
                            <File Id="fil0567DF3BAC35506F4DD0B32B338CF1D2" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\jna-4.2.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp0AC78184A34ADF17B8C16548B90B2A72" Guid="*">
                            <File Id="filA90288D418E26AAFEB390997015ADF4C" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\jna-platform-4.2.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpAEE7E59F311D20A539AFA429616A9D62" Guid="*">
                            <File Id="fil13FB699C742562471962EA8B364AE9CF" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\jsr305-3.0.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp8836159D0A49B3C25927F4F635A30ED1" Guid="*">
                            <File Id="filD26E2A428AC98522AEF4491A7A8E9843" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\kotlin-stdlib-1.1.4-3.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpC9F37910E9CCEEDB6430EFE5D8405EE4" Guid="*">
                            <File Id="filCC96FF8CE53D7BEAAAB03822E4AAA83E" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\logback-classic-1.1.9.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp65F7479392FD475DB71773D392523210" Guid="*">
                            <File Id="filD5E2A57DAD57B757B1E585625533A145" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\logback-core-1.1.9.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp7C5FAF02DC9B59864999E06E9F536ACE" Guid="*">
                            <File Id="filCD13BF319FFC6F7858A93A736A8B2F0B" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\reactfx-2.0-M4u1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpF6B052329082E3647DC9F799766B2F6B" Guid="*">
                            <File Id="fil3E962BCB25E2959E0438B931FC7CFEAA" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\reactive-streams-1.0.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp47DCB2AF435677E8713950CE57216FB3" Guid="*">
                            <File Id="filCA091012E21436BD44A7E972D81C4F90" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\richtextfx-0.6.10.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp7A1C68190CE92DE5515C7D6FC723B745" Guid="*">
                            <File Id="filEF938B368FB47BC54ED741C53FEC42D6" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\rxjava-2.1.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp0A02C4FB89B50E0351CFFBA49CDED3BC" Guid="*">
                            <File Id="filB6A4DFC385D5D81D31783245A590A92E" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\rxjavafx-2.1.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp134CEEEF2D69E4C3DBCCE18A18F3020F" Guid="*">
                            <File Id="filC22D3E73E13A8192D8E9CD20505A245D" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\slf4j-api-1.7.25.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpA0E510B53090C94CB7A3183D50A12947" Guid="*">
                            <File Id="fil7238769223C53701734DEDEAE9D7459D" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\stax-api-1.0-2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp74F6C7C6397D71EBB4A5ACA53E99FF4A" Guid="*">
                            <File Id="fil403AB5ACE3DE328CA68FAB3ADD439B23" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\stax2-api-3.1.4.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpD01ADFF9F21FB5DB4738E28F33DCF533" Guid="*">
                            <File Id="fil15A0DD3FBC3AD1A70C46CF87BA27F7EE" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\undofx-1.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp8CCDE4199D4704EF8BDEB7CFF634732A" Guid="*">
                            <File Id="fil12DEAC7EF8AC385A0BB56B68B2674D76" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\wellbehavedfx-0.1.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpD9BB72CA960913B3CAFF47463EECB9CE" Guid="*">
                            <File Id="fil86F782CB6C46D42A120F86C912757AAF" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\woodstox-core-5.0.3.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpDC0332113BC2B3431311B441B257A40B" Guid="*">
                            <File Id="fil61C430680A2680D03822002CF856FE88" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.1.2\lib\woodstox-core-asl-4.4.1.jar" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DsbFilesGroup">
            <ComponentRef Id="cmp1F5E6787B0E062743357444FC019333C" />
            <ComponentRef Id="cmp2F0E10E3CFB146C8AE8C51C8BC290CBC" />
            <ComponentRef Id="cmp7D28BCFE40F214AEA24D23DA87A2FE66" />
            <ComponentRef Id="cmp310E0035D2E63807B6652BF6C5F0A0DA" />
            <ComponentRef Id="cmpD0BE106772CC8CF533D6D71830C80705" />
            <ComponentRef Id="cmpE07A5373FC4030E9BCD5A8005CE33690" />
            <ComponentRef Id="cmp0AFC3507FCF4F7E4F3AA0CB891CE8D1B" />
            <ComponentRef Id="cmp72D1C1D3F9C66ED41E88E49C0A1064FE" />
            <ComponentRef Id="cmpC8C7554CA0091C23FD363044733247E3" />
            <ComponentRef Id="cmpD7D13FC2E0B344E865F6B7AEB4399BD1" />
            <ComponentRef Id="cmp4C301D9B18D777D7B98802A696D944B8" />
            <ComponentRef Id="cmp672C191DD34CF7A6FBA0D5E658B1AA5F" />
            <ComponentRef Id="cmp43726A2027D40BB09BA692050E470D67" />
            <ComponentRef Id="cmp58A8C7F6ADEDB2F7544CC9EFB46ED40D" />
            <ComponentRef Id="cmpEF066987E9E5878CB973D2B86FCFA408" />
            <ComponentRef Id="cmpA03E4C6C50F111EBF1A542C3A64F0154" />
            <ComponentRef Id="cmpED4092133960B34E33790CC561686018" />
            <ComponentRef Id="cmp29A27A7B17D60C596DBB4032AF3AF92D" />
            <ComponentRef Id="cmpE200C5BB3AAF25033AD321FEA0C90AE8" />
            <ComponentRef Id="cmp6B91473AA5020B7BC378E5D9B3A8745E" />
            <ComponentRef Id="cmp774708CAFEE17BFA4EF1EB34FDF472FE" />
            <ComponentRef Id="cmp5DE08AF868EC3320D67087892D9A53BB" />
            <ComponentRef Id="cmpA38F84027BB25941B0588A2C704745AE" />
            <ComponentRef Id="cmp15269B6E12DE6EBBE80C994C6302BE95" />
            <ComponentRef Id="cmpE55847AAEAA420C4D1C87E77FC27A6F5" />
            <ComponentRef Id="cmp196BEFDF4613CD61CD9F870F26B2EE81" />
            <ComponentRef Id="cmp42D7A12DA413486C9F2F5027CE575EB0" />
            <ComponentRef Id="cmp27C616E0D0208FBF8B808435300B59C9" />
            <ComponentRef Id="cmpB109C2B6482C9BF3332F7E87D6361A24" />
            <ComponentRef Id="cmp5ABF0991010B74AD24DE8DDC9C0C5929" />
            <ComponentRef Id="cmpC1F0ADC7C8E57FAE0E7980860B707853" />
            <ComponentRef Id="cmpB79A7A525E1D37A1517D7C716FF31D1C" />
            <ComponentRef Id="cmpCF5F54BE4D0022DB8E90A919C408619D" />
            <ComponentRef Id="cmp194B58233695E7844A956E9BBB38E819" />
            <ComponentRef Id="cmp9B4D17455E26AE67790791198F0E8B9F" />
            <ComponentRef Id="cmp3313E64AAB3EB56B47E5EA65212E38CC" />
            <ComponentRef Id="cmp0AC78184A34ADF17B8C16548B90B2A72" />
            <ComponentRef Id="cmpAEE7E59F311D20A539AFA429616A9D62" />
            <ComponentRef Id="cmp8836159D0A49B3C25927F4F635A30ED1" />
            <ComponentRef Id="cmpC9F37910E9CCEEDB6430EFE5D8405EE4" />
            <ComponentRef Id="cmp65F7479392FD475DB71773D392523210" />
            <ComponentRef Id="cmp7C5FAF02DC9B59864999E06E9F536ACE" />
            <ComponentRef Id="cmpF6B052329082E3647DC9F799766B2F6B" />
            <ComponentRef Id="cmp47DCB2AF435677E8713950CE57216FB3" />
            <ComponentRef Id="cmp7A1C68190CE92DE5515C7D6FC723B745" />
            <ComponentRef Id="cmp0A02C4FB89B50E0351CFFBA49CDED3BC" />
            <ComponentRef Id="cmp134CEEEF2D69E4C3DBCCE18A18F3020F" />
            <ComponentRef Id="cmpA0E510B53090C94CB7A3183D50A12947" />
            <ComponentRef Id="cmp74F6C7C6397D71EBB4A5ACA53E99FF4A" />
            <ComponentRef Id="cmpD01ADFF9F21FB5DB4738E28F33DCF533" />
            <ComponentRef Id="cmp8CCDE4199D4704EF8BDEB7CFF634732A" />
            <ComponentRef Id="cmpD9BB72CA960913B3CAFF47463EECB9CE" />
            <ComponentRef Id="cmpDC0332113BC2B3431311B441B257A40B" />
        </ComponentGroup>
    </Fragment>
</Wix>
