<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dir477D3386EA775CED98738C93E885E05D" Name="distributions">
                <Directory Id="dirBBCDCC57B4796C8CFF9F5A8C77CE18D7" Name="dsb-gui-2.0.39">
                    <Directory Id="dirB6B09F83662973586636FA4D0C36CC11" Name="bin">
                        <Component Win64="yes" Id="cmp1DC03367DE393BF75C2126081101BA47" Guid="*">
                            <File Id="filC3FFB117B76206C9F541F6C09C3DBBCC" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\bin\dsb-gui" />
                        </Component>
                        <Component Win64="yes" Id="cmpDB06D78A4027C77EAAAF6D65293D0BCC" Guid="*">
                            <File Id="fil3B8B27DBCE7B7619C442BF9506D960FB" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\bin\dsb-gui.bat" />
                        </Component>
                    </Directory>
                    <Directory Id="dir6559EF25B91E666CFE66771F265796B7" Name="lib">
                        <Component Win64="yes" Id="cmp00D6879E42C8E3FB61BF74171E1E6DB6" Guid="*">
                            <File Id="fil0C5ED1E2FF1232D2BBDC2C011D578EEA" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\afterburner.fx-1.6.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp35D4BE2210A99D6F84FDAE4A72005013" Guid="*">
                            <File Id="fil879C303B706A43C3CDBC14F03ACF2EE1" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\annotations-3.0.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp8CD13DF5251E75E7674B6B302D023BCD" Guid="*">
                            <File Id="fil319AE3A7ECF0A50F17C8CEAD7B5064D5" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\commons-codec-1.10.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpB7AA7B8B01524CDB8E0C9EFC820A4DCD" Guid="*">
                            <File Id="fil22F792D5A976D5ADC82D2B02396D66EB" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\commons-io-2.4.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp1568A6B284C56CBA9B0537A94DB9BB4A" Guid="*">
                            <File Id="filD863A8A050D45C492C6795B57088E88A" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\commons-logging-1.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp204C8B7F588315585C812FBFEC7F4D99" Guid="*">
                            <File Id="filED1FE6FB922D792E0B856FB50CAA561E" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\controlsfx-8.40.12.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp8F53E67731D9F55289CF3C4B93EF4B1D" Guid="*">
                            <File Id="fil40BB83871C4F52DBB553395277167FA1" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\ds3-interfaces-3.2.10.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpA5D40F358B002B11AAA7702750F3892A" Guid="*">
                            <File Id="fil97F35ACD0E0A15117033D1235B6E5485" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\ds3-metadata-3.2.10.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp318A582CD597EC55689EE7DEB20E9B67" Guid="*">
                            <File Id="fil6B78005E2B46178C3366880CC1903FF7" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\ds3-sdk-3.2.10.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpD4B2378F6AA483AA3FF3B06D8BEE54DA" Guid="*">
                            <File Id="fil25727A3C59F9668277ABC32703C912CE" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\ds3-utils-3.2.10.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpA9136D49223C3C8A632DDA0E34C3A5BF" Guid="*">
                            <File Id="fil6160A1BC21CEDFF044C79869E5389510" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\dsb-api-2.0.39.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpA96A1B713F2E1AE7F9ED0353DD616AB6" Guid="*">
                            <File Id="fil544D514B97A3586D4F7EC85267A360FB" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\dsb-gui-2.0.39.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp7B360DEAE076A98645BE9B05A7511CA9" Guid="*">
                            <File Id="filC03ADE57A24A2B14D99FEFB4F47CB245" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\dsb-local-2.0.39.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpCE125F9D4BACAFE623CA85669BB86FC2" Guid="*">
                            <File Id="fil67DE97BAEB17EDAA99D79A9C9C49E782" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\dsb-util-2.0.39.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpF7C0DED591A73CF82136ACFC22494A84" Guid="*">
                            <File Id="filD6B2FDFDC79CFDEC68599D9AC55B4003" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\flowless-0.4.5.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpF7CB0FE6C4C9467309E376CA72FBEDEA" Guid="*">
                            <File Id="filB1D6472DE1284C2CC4E9ED3AABD3EFA4" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\fontawesomefx-8.9.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp94770EC2916A10505B3CD60CF659ABBD" Guid="*">
                            <File Id="fil97D281624A197DB99272E31E61A7AD84" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\guava-21.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp0C75B1B626CD521776289CD6B414F59D" Guid="*">
                            <File Id="fil3473DC7F66C1614F862550AF2004CAC1" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\httpclient-4.5.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpA1CAE07358EDE1F0126F4850F8C7B6AB" Guid="*">
                            <File Id="fil98CE2815D8944F718CFBB951B1363863" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\httpcore-4.4.3.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp8ADEE8FE0601785AB3DC46BBB2A41034" Guid="*">
                            <File Id="filE1A9110DA9FF1D1D70E724B6A87F4AFB" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\jackson-annotations-2.7.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpD36851AB54EA3C2C128236DA25DB8026" Guid="*">
                            <File Id="filE71F40E7C5595439E52C8D00D0460A0A" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\jackson-core-2.7.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp8139A115E2FCF1E068ACEF9B3BAB3891" Guid="*">
                            <File Id="fil5E3C040197A1AC2722379A9CE3A3E820" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\jackson-databind-2.7.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp317204CD32BF616B8DCB99BBE5A7ACEB" Guid="*">
                            <File Id="filF91861B3B2C686C2C346A28B5165A9CF" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\jackson-dataformat-xml-2.7.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpFB97387E3EDD82A2EEC35DBEC5E3187A" Guid="*">
                            <File Id="fil7DD3D79783D0DA947A1AF628BEE0F81A" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\jackson-module-jaxb-annotations-2.7.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpBA891FB7577E03CADF1BACB0AD3390A0" Guid="*">
                            <File Id="fil30B0C16B74749FCCF50A16AC4FD9484B" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\jcip-annotations-1.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp0A33F90E7EF2E0190A20AC3F09FB58B0" Guid="*">
                            <File Id="fil8D9976DA7F1F59C5D016074EE166B123" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\jna-4.2.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp2634370EA7F1F79ED72F8C282BDEEC55" Guid="*">
                            <File Id="filF341668F79EE7F9EF54D386A90F414E6" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\jna-platform-4.2.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp4C192DF3A236470E8C346C3EC097BEB8" Guid="*">
                            <File Id="filE11BDF5EA94C0A62857ED3E725DCB45D" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\jsr305-3.0.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp7A7A799ABF301B84206D5A02E96CB20F" Guid="*">
                            <File Id="fil1217CF1E1186F83934DB6C7701F4AEBE" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\logback-classic-1.1.9.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp66B090AA4A8072F48C12C9DDE1D11EF4" Guid="*">
                            <File Id="fil0635A218571BEE7685513B8B88CBE172" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\logback-core-1.1.9.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpD9C2AD29E312E667858CBACB9C848697" Guid="*">
                            <File Id="filACC1BD5B5F9AC7272B4128460F9A535B" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\reactfx-2.0-M4u1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpA282172E6F7B883E4D8C4ED7B83E8625" Guid="*">
                            <File Id="fil3BBC1B90B00A1A7B8808301CA92B9065" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\richtextfx-0.6.10.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp866494E58F412E3842C7E9D9DB4509AE" Guid="*">
                            <File Id="filC26183ADEBF0CECADA8B56123271C400" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\slf4j-api-1.7.22.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp4F5767EBBC56F9CC75A523DA8ADF0F1C" Guid="*">
                            <File Id="filD5CD0C6D1D8A1114DBEBD9614B620F95" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\stax-api-1.0-2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp3069AE88878BE53171F9D27D22DAD31C" Guid="*">
                            <File Id="fil90F8FDAE4B406B6B8A420E40067D2EDE" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\stax2-api-3.1.4.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpB9E1AADD31AB58FEEC0257FCE91FE44D" Guid="*">
                            <File Id="filFE58AF6B9AC02151943B7E960ADD5E13" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\undofx-1.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpCE606A5333DC8D76B36973AA9321A588" Guid="*">
                            <File Id="fil556E8E8698B7C0A3DE5FF05BA2604CB3" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\wellbehavedfx-0.1.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp48179EEA37173F70A0D546C943DDAD31" Guid="*">
                            <File Id="filC2EAED2DCBCDAA971C68663B676D1479" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.39\lib\woodstox-core-asl-4.4.1.jar" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DsbFilesGroup">
            <ComponentRef Id="cmp1DC03367DE393BF75C2126081101BA47" />
            <ComponentRef Id="cmpDB06D78A4027C77EAAAF6D65293D0BCC" />
            <ComponentRef Id="cmp00D6879E42C8E3FB61BF74171E1E6DB6" />
            <ComponentRef Id="cmp35D4BE2210A99D6F84FDAE4A72005013" />
            <ComponentRef Id="cmp8CD13DF5251E75E7674B6B302D023BCD" />
            <ComponentRef Id="cmpB7AA7B8B01524CDB8E0C9EFC820A4DCD" />
            <ComponentRef Id="cmp1568A6B284C56CBA9B0537A94DB9BB4A" />
            <ComponentRef Id="cmp204C8B7F588315585C812FBFEC7F4D99" />
            <ComponentRef Id="cmp8F53E67731D9F55289CF3C4B93EF4B1D" />
            <ComponentRef Id="cmpA5D40F358B002B11AAA7702750F3892A" />
            <ComponentRef Id="cmp318A582CD597EC55689EE7DEB20E9B67" />
            <ComponentRef Id="cmpD4B2378F6AA483AA3FF3B06D8BEE54DA" />
            <ComponentRef Id="cmpA9136D49223C3C8A632DDA0E34C3A5BF" />
            <ComponentRef Id="cmpA96A1B713F2E1AE7F9ED0353DD616AB6" />
            <ComponentRef Id="cmp7B360DEAE076A98645BE9B05A7511CA9" />
            <ComponentRef Id="cmpCE125F9D4BACAFE623CA85669BB86FC2" />
            <ComponentRef Id="cmpF7C0DED591A73CF82136ACFC22494A84" />
            <ComponentRef Id="cmpF7CB0FE6C4C9467309E376CA72FBEDEA" />
            <ComponentRef Id="cmp94770EC2916A10505B3CD60CF659ABBD" />
            <ComponentRef Id="cmp0C75B1B626CD521776289CD6B414F59D" />
            <ComponentRef Id="cmpA1CAE07358EDE1F0126F4850F8C7B6AB" />
            <ComponentRef Id="cmp8ADEE8FE0601785AB3DC46BBB2A41034" />
            <ComponentRef Id="cmpD36851AB54EA3C2C128236DA25DB8026" />
            <ComponentRef Id="cmp8139A115E2FCF1E068ACEF9B3BAB3891" />
            <ComponentRef Id="cmp317204CD32BF616B8DCB99BBE5A7ACEB" />
            <ComponentRef Id="cmpFB97387E3EDD82A2EEC35DBEC5E3187A" />
            <ComponentRef Id="cmpBA891FB7577E03CADF1BACB0AD3390A0" />
            <ComponentRef Id="cmp0A33F90E7EF2E0190A20AC3F09FB58B0" />
            <ComponentRef Id="cmp2634370EA7F1F79ED72F8C282BDEEC55" />
            <ComponentRef Id="cmp4C192DF3A236470E8C346C3EC097BEB8" />
            <ComponentRef Id="cmp7A7A799ABF301B84206D5A02E96CB20F" />
            <ComponentRef Id="cmp66B090AA4A8072F48C12C9DDE1D11EF4" />
            <ComponentRef Id="cmpD9C2AD29E312E667858CBACB9C848697" />
            <ComponentRef Id="cmpA282172E6F7B883E4D8C4ED7B83E8625" />
            <ComponentRef Id="cmp866494E58F412E3842C7E9D9DB4509AE" />
            <ComponentRef Id="cmp4F5767EBBC56F9CC75A523DA8ADF0F1C" />
            <ComponentRef Id="cmp3069AE88878BE53171F9D27D22DAD31C" />
            <ComponentRef Id="cmpB9E1AADD31AB58FEEC0257FCE91FE44D" />
            <ComponentRef Id="cmpCE606A5333DC8D76B36973AA9321A588" />
            <ComponentRef Id="cmp48179EEA37173F70A0D546C943DDAD31" />
        </ComponentGroup>
    </Fragment>
</Wix>
