<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="dirE530881A633FDBB7229DD4CC1E5945E5" Name="distributions">
                <Directory Id="dir8D6BA38A85617681B0211F227B398E2F" Name="dsb-gui-2.0.47">
                    <Directory Id="dir376E33EA7FC546D64F8C98735E997EC0" Name="bin">
                        <Component Win64="yes" Id="cmp5B8F1A080351C712F5D3FF2DFF0EB532" Guid="*">
                            <File Id="filA81F81EFD6C128B45E9997FFBACC3787" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\bin\dsb-gui.exe" />
                        </Component>
                    </Directory>
                    <Directory Id="dirEC7A9E812FB6D2F2BD8713E441159702" Name="lib">
                        <Component Win64="yes" Id="cmp7CCC07759D6B3C76F5CDE50F177153DF" Guid="*">
                            <File Id="fil830E47FE7F682D985F356AD668475E7C" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\afterburner.fx-1.7.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpA1A268077CF9680FC3428ECFD8705D8B" Guid="*">
                            <File Id="filECA11F0BC650986D0CFB2FF7A903E27B" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\annotations-3.0.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpBC0B7CFC34A48C62BFCDD11B6C2931E8" Guid="*">
                            <File Id="fil3DEC4BE5BD169DFB50F561EC9E36A599" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\aopalliance-1.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp46AE13F13C223E430A245117D10ADCE0" Guid="*">
                            <File Id="fil1404351B8D44C824F4B00186F6035BBA" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\commons-codec-1.10.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp9E608145ED9CF44DA67B6B9B25561122" Guid="*">
                            <File Id="filA2BC73F681586BD21C64F296E477432C" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\commons-io-2.4.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp63C1D1E7714603AA4CD487FD1993765D" Guid="*">
                            <File Id="fil8A866B7B100E13F82C86EACD1672C6A3" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\commons-logging-1.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpBACF2679776CEEF1E33157CC3ECA20C8" Guid="*">
                            <File Id="fil3A8C91C5128115C9EB1C20A0FF41835D" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\controlsfx-8.40.12.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpAEF24E2702C2CEB7B061644B74E18A23" Guid="*">
                            <File Id="fil24374F995612FF068DD93159C358FD3C" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\ds3-interfaces-3.2.14.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpE83D47659080AE4FC19CA882A9E0A7D2" Guid="*">
                            <File Id="filC1967C1414B42945C5A57DADED7B9D8E" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\ds3-metadata-3.2.14.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpB86B4CA3C9907CAA8063E1D25C83E53E" Guid="*">
                            <File Id="fil36CF8950FBF0E201A7FDED615499AAFE" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\ds3-sdk-3.2.14.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpCF66656EF75AF3464D17C6FB9D9F052F" Guid="*">
                            <File Id="filA52C50C5CB29927B77571D51D44DC482" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\ds3-utils-3.2.14.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp697C19A963E289467C099FF0E12483F0" Guid="*">
                            <File Id="filA1E0521086A3D23119D6B4191A058199" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\dsb-api-2.0.47.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpF7A5C1F5374D0242C450B7B173E21A81" Guid="*">
                            <File Id="fil51AA8D1609D85E87F1A3589E571D493F" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\dsb-gui-2.0.47.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp0F36CC4A6CB590F6082F64A6CCFD143E" Guid="*">
                            <File Id="fil0746E318C0B3990F40F7B77F8B290EB5" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\dsb-local-2.0.47.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp79D1F5DC2136C7378AC72BC6B2C35782" Guid="*">
                            <File Id="fil4398F707D712487560C28403222D3B99" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\dsb-util-2.0.47.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp67008D1373F86D17076D7C119FB8853E" Guid="*">
                            <File Id="filEFAB2FAAEDFDFD5D214340D61B1422DA" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\fast-classpath-scanner-2.0.5.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp18701FDB3A9EF128B9A0EE062E0A39F9" Guid="*">
                            <File Id="filAA35E1EB578A85B68120B1F5E4434B44" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\flowless-0.4.5.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpA774C092F67B252AC65879F9F96394B4" Guid="*">
                            <File Id="filE60402B35D9090248F31AD2ECE43D860" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\fontawesomefx-8.9.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp24D1010A40E4099A0881947810884E7E" Guid="*">
                            <File Id="fil17FC0FF9F221C18D3760058F42AEECD2" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\guava-21.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp029DB4EF6B815975F46B8B9EECD658C6" Guid="*">
                            <File Id="filF8CF4686D46B94194F60B6A61AE9CCF8" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\guice-4.1.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpAB84ED09FCAA50A1675A2F1E4404B762" Guid="*">
                            <File Id="fil117E399FF7180547DBF090E7EC588B5A" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\guice-assistedinject-4.1.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpE9AA680BABD44063BD9830F8FAC8A899" Guid="*">
                            <File Id="filD53B74C19497B1FEDFB9C425BE613B70" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\httpclient-4.5.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp3DB9EC1B4C14E5D83831D9949F72F3B9" Guid="*">
                            <File Id="fil8409F02C52A3490991D0502E99D145BF" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\httpcore-4.4.3.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp12A135F7F429E6E6C3F9DBA2BAFA6675" Guid="*">
                            <File Id="filD423FB7EE5BC787786B584CC4A667D29" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\jackson-annotations-2.7.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp6C43BA669D3448B7F83434765E9B9589" Guid="*">
                            <File Id="filDEEB844805E943DFEE022998E253806E" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\jackson-core-2.7.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp1B067937796397070E5F0D46C0235230" Guid="*">
                            <File Id="fil31DE445C854EF178FE49437A3946D2C1" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\jackson-databind-2.7.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpD1FB12D55B0C6A4B75F680A9E3E6662E" Guid="*">
                            <File Id="fil1DC6A2B0C10601FDDA8DDD4C86D53457" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\jackson-dataformat-xml-2.7.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpF8EF5F9C14BBC2BD058C54A88C86AF90" Guid="*">
                            <File Id="filDB17D4EBEA35553066A649909764B923" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\jackson-module-jaxb-annotations-2.7.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp414DDF832E2EF8F240DB7E97450D4FB6" Guid="*">
                            <File Id="filBAC1AD991EB403E58A12900FF77EB4B6" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\javax.inject-1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpD6CF72CEA9FDE7261B6DD386918945ED" Guid="*">
                            <File Id="fil2DD67557A3EAB55AB74FB640DFD38207" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\jcip-annotations-1.0.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpA4BBEB2B7BA68DD8EDD90CE3458308D7" Guid="*">
                            <File Id="filD074B9819EB5C332A7E85DD3395CF68F" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\jna-4.2.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpDC32C2B41E552B93FB102639E4BAF239" Guid="*">
                            <File Id="fil4126D29E0E0628554D3E7AD3BA0D2A2A" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\jna-platform-4.2.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpCAB0E69D24873394C7EE7504AC679BA4" Guid="*">
                            <File Id="filFA80FE9C8F6A7513E18D9B7BAED0DD2B" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\jsr305-3.0.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp8D26A6A0F8D6E478AE0E6FEEE90BC527" Guid="*">
                            <File Id="fil43B9F45D07F3D5503AD39382B2EAAB45" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\logback-classic-1.1.9.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp169923109C96BC17337283A482A827CA" Guid="*">
                            <File Id="fil2A66BF81FF97FF2F1878E0A752CFC3AF" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\logback-core-1.1.9.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp54FA7CB8DE59C4E7F8EC206CA6938332" Guid="*">
                            <File Id="fil3CF7D0613AE04BA935F940B400DBC7E1" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\reactfx-2.0-M4u1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp9179990CE7D72D7B1A96465F8C821106" Guid="*">
                            <File Id="fil9B81FBF172CED8FDA6F2022DB57BCA6B" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\richtextfx-0.6.10.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp57EC18D169656D9A0DCC8339E73CD1AB" Guid="*">
                            <File Id="fil7805F95AFA8E769199E0F3B22A12F5CB" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\slf4j-api-1.7.22.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp887733D94D62280D05162E31A3273D00" Guid="*">
                            <File Id="filC195449A4880C79CE3990AB24D860E30" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\stax-api-1.0-2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp6CF026E30C556E15E784221900CA0AA0" Guid="*">
                            <File Id="fil9174C429D8E4235085493C9E0926AF00" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\stax2-api-3.1.4.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp5D77E670AE4CDF46FCDE51B2D2B19774" Guid="*">
                            <File Id="filAD0CDF254A88FD8EF0153A027ECE4F02" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\undofx-1.2.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmp2A85A7F9D486048ABE4D4B3653319B38" Guid="*">
                            <File Id="fil503B09D57CD8D57F97B0282A8CF6C8AD" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\wellbehavedfx-0.1.1.jar" />
                        </Component>
                        <Component Win64="yes" Id="cmpC0E352F96E01A55A354B843761B89E1E" Guid="*">
                            <File Id="filABB4955A153DDF471B53FD394D4806A3" KeyPath="yes" Source="$(var.DsbPath)\dsb-gui-2.0.47\lib\woodstox-core-asl-4.4.1.jar" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DsbFilesGroup">
            <ComponentRef Id="cmp5B8F1A080351C712F5D3FF2DFF0EB532" />
            <ComponentRef Id="cmp7CCC07759D6B3C76F5CDE50F177153DF" />
            <ComponentRef Id="cmpA1A268077CF9680FC3428ECFD8705D8B" />
            <ComponentRef Id="cmpBC0B7CFC34A48C62BFCDD11B6C2931E8" />
            <ComponentRef Id="cmp46AE13F13C223E430A245117D10ADCE0" />
            <ComponentRef Id="cmp9E608145ED9CF44DA67B6B9B25561122" />
            <ComponentRef Id="cmp63C1D1E7714603AA4CD487FD1993765D" />
            <ComponentRef Id="cmpBACF2679776CEEF1E33157CC3ECA20C8" />
            <ComponentRef Id="cmpAEF24E2702C2CEB7B061644B74E18A23" />
            <ComponentRef Id="cmpE83D47659080AE4FC19CA882A9E0A7D2" />
            <ComponentRef Id="cmpB86B4CA3C9907CAA8063E1D25C83E53E" />
            <ComponentRef Id="cmpCF66656EF75AF3464D17C6FB9D9F052F" />
            <ComponentRef Id="cmp697C19A963E289467C099FF0E12483F0" />
            <ComponentRef Id="cmpF7A5C1F5374D0242C450B7B173E21A81" />
            <ComponentRef Id="cmp0F36CC4A6CB590F6082F64A6CCFD143E" />
            <ComponentRef Id="cmp79D1F5DC2136C7378AC72BC6B2C35782" />
            <ComponentRef Id="cmp67008D1373F86D17076D7C119FB8853E" />
            <ComponentRef Id="cmp18701FDB3A9EF128B9A0EE062E0A39F9" />
            <ComponentRef Id="cmpA774C092F67B252AC65879F9F96394B4" />
            <ComponentRef Id="cmp24D1010A40E4099A0881947810884E7E" />
            <ComponentRef Id="cmp029DB4EF6B815975F46B8B9EECD658C6" />
            <ComponentRef Id="cmpAB84ED09FCAA50A1675A2F1E4404B762" />
            <ComponentRef Id="cmpE9AA680BABD44063BD9830F8FAC8A899" />
            <ComponentRef Id="cmp3DB9EC1B4C14E5D83831D9949F72F3B9" />
            <ComponentRef Id="cmp12A135F7F429E6E6C3F9DBA2BAFA6675" />
            <ComponentRef Id="cmp6C43BA669D3448B7F83434765E9B9589" />
            <ComponentRef Id="cmp1B067937796397070E5F0D46C0235230" />
            <ComponentRef Id="cmpD1FB12D55B0C6A4B75F680A9E3E6662E" />
            <ComponentRef Id="cmpF8EF5F9C14BBC2BD058C54A88C86AF90" />
            <ComponentRef Id="cmp414DDF832E2EF8F240DB7E97450D4FB6" />
            <ComponentRef Id="cmpD6CF72CEA9FDE7261B6DD386918945ED" />
            <ComponentRef Id="cmpA4BBEB2B7BA68DD8EDD90CE3458308D7" />
            <ComponentRef Id="cmpDC32C2B41E552B93FB102639E4BAF239" />
            <ComponentRef Id="cmpCAB0E69D24873394C7EE7504AC679BA4" />
            <ComponentRef Id="cmp8D26A6A0F8D6E478AE0E6FEEE90BC527" />
            <ComponentRef Id="cmp169923109C96BC17337283A482A827CA" />
            <ComponentRef Id="cmp54FA7CB8DE59C4E7F8EC206CA6938332" />
            <ComponentRef Id="cmp9179990CE7D72D7B1A96465F8C821106" />
            <ComponentRef Id="cmp57EC18D169656D9A0DCC8339E73CD1AB" />
            <ComponentRef Id="cmp887733D94D62280D05162E31A3273D00" />
            <ComponentRef Id="cmp6CF026E30C556E15E784221900CA0AA0" />
            <ComponentRef Id="cmp5D77E670AE4CDF46FCDE51B2D2B19774" />
            <ComponentRef Id="cmp2A85A7F9D486048ABE4D4B3653319B38" />
            <ComponentRef Id="cmpC0E352F96E01A55A354B843761B89E1E" />
        </ComponentGroup>
    </Fragment>
</Wix>
