<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="dirC1512B38B1C33B24D7FFB41C2EF6DCC3" Name="Java">
                <Directory Id="dir0AFA976B6D8EE2B8A96D4BAAC8233AFE" Name="jre1.8.0_144">
                    <Component Win64="yes" Id="cmp9150AAB3EAFFF4D362A1DB22A1D6617A" Guid="*">
                        <File Id="fil5C0F0EB34E0ABD39B4D372D6B8BF63FB" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\COPYRIGHT" />
                    </Component>
                    <Component Win64="yes" Id="cmp1EF2B19DEF1928E6243BCD1DE46A93D2" Guid="*">
                        <File Id="filAF6F1889B1095B16F15751E418021993" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\LICENSE" />
                    </Component>
                    <Component Win64="yes" Id="cmp4E900697C76718FE44F42586C55A0B7A" Guid="*">
                        <File Id="fil3E1297288D35A0DE755576ECBBD03C8F" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\README.txt" />
                    </Component>
                    <Component Win64="yes" Id="cmp326545607ED6469417F92DE3D3CD22D7" Guid="*">
                        <File Id="filE93181BF77E010688C530E14DB6FA0F4" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\release" />
                    </Component>
                    <Component Win64="yes" Id="cmp237E7223D546C76123E9EB54C1D72A6A" Guid="*">
                        <File Id="filA99633B3873468D25CA403081194A727" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\THIRDPARTYLICENSEREADME-JAVAFX.txt" />
                    </Component>
                    <Component Win64="yes" Id="cmp68243A91E6E9ED91FD1F57BABC8D296A" Guid="*">
                        <File Id="filEF519D52F7742D6D708EB8C2A3D4AB98" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\THIRDPARTYLICENSEREADME.txt" />
                    </Component>
                    <Component Win64="yes" Id="cmp8AF8DEF560CA0624A438E16FDE79A9F0" Guid="*">
                        <File Id="fil4AD9E3CFB5B865080A75DE0CDFA2D9DC" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\Welcome.html" />
                    </Component>
                    <Directory Id="dirCC058FC7CE284AF898FAF9C67F2A01D3" Name="lib">
                        <Component Win64="yes" Id="cmpB6E8CFE5AA9FECD0A1432B3BE3477F65" Guid="*">
                            <File Id="filE54C14EE69F2AD2EA8695EF975E9B430" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\accessibility.properties" />
                        </Component>
                        <Component Win64="yes" Id="cmpE7F6B7535957D8B9C585BB994F050C7F" Guid="*">
                            <File Id="fil267517AF52F2C7FFE7AEB3C0E25EDD39" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\calendars.properties" />
                        </Component>
                        <Component Win64="yes" Id="cmp3D2C74F27764A1CD5EFDF7AD30CF6183" Guid="*">
                            <File Id="fil5C263778BE3270F486C4DA70DE130592" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\classlist" />
                        </Component>
                        <Component Win64="yes" Id="cmp85D72ECB01C326FD595B210A759ECF05" Guid="*">
                            <File Id="fil9BCDF469B0895C7D3ECA35BDBE3E0591" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\content-types.properties" />
                        </Component>
                        <Component Win64="yes" Id="cmp4E5527F743EE8B3F7B0A55097523F11D" Guid="*">
                            <File Id="fil076BF0ADF9E1AC45CAB1F1E4A601648A" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\currency.data" />
                        </Component>
                        <Component Win64="yes" Id="cmpC708C8C84DDC5B0A5DB467662526F0A3" Guid="*">
                            <File Id="filE673BD3FA6A6B16BA61F6FB1E7035C70" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\flavormap.properties" />
                        </Component>
                        <Component Win64="yes" Id="cmp1C3944077A1AE5D9A8413054D5C27713" Guid="*">
                            <File Id="fil8D67107869BD703E29FC840695129B7D" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\fontconfig.bfc" />
                        </Component>
                        <Component Win64="yes" Id="cmp30500073E25013391B407704C12D6AB6" Guid="*">
                            <File Id="fil4B9C8FE1B59EC7E56ED79C9CEB9A1208" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\fontconfig.properties.src" />
                        </Component>
                        <Component Win64="yes" Id="cmp20F09CA3B1EA85CBF0319088337F5FBA" Guid="*">
                            <File Id="fil921BE1BB50CDD1F4ADA936CFF47052AC" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\hijrah-config-umalqura.properties" />
                        </Component>
                        <Component Win64="yes" Id="cmpDFBC4B930D6AE80EAC69BEEF724E183B" Guid="*">
                            <File Id="fil1B95B1CC238DC7AC1E06D56236F1EA2F" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\javafx.properties" />
                        </Component>
                        <Component Win64="yes" Id="cmpD82E1FC3C19ABCA850CD5BBC5F1EDBFC" Guid="*">
                            <File Id="filC98627F4E863408B12146BE52FC158BF" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\jvm.hprof.txt" />
                        </Component>
                        <Component Win64="yes" Id="cmp9A44C687C7A36BFC0955D2111750FD0D" Guid="*">
                            <File Id="fil0C70816124609DF4ED601CFA34DA47C0" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\logging.properties" />
                        </Component>
                        <Component Win64="yes" Id="cmpB0CD6036FE204D73FB90545516592B32" Guid="*">
                            <File Id="filE7A1A03E0D33A118E5A9D0C2AB010B2C" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\meta-index" />
                        </Component>
                        <Component Win64="yes" Id="cmpC26EAA7FAD78CA414B38C9E06485313B" Guid="*">
                            <File Id="fil672A04E1CAACFD50E96EE00E998C0D60" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\net.properties" />
                        </Component>
                        <Component Win64="yes" Id="cmpA4C0A7C6910C7D8AF6D20B7E49146D4D" Guid="*">
                            <File Id="fil56D4561A35D64E3A7CA6E375F5A3712C" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\psfont.properties.ja" />
                        </Component>
                        <Component Win64="yes" Id="cmp39FD5BDC109FA6701B873552E5FF57F6" Guid="*">
                            <File Id="fil3AD353FA7C7C03DD135EBD38BEEECD0F" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\psfontj2d.properties" />
                        </Component>
                        <Component Win64="yes" Id="cmp8D9B950F6F3D7197CE227252BEDE1E0F" Guid="*">
                            <File Id="fil4A08039A958CF422E041D76428D38715" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\sound.properties" />
                        </Component>
                        <Component Win64="yes" Id="cmpB4291F9CDC0EA3E66E60492FB4F874D3" Guid="*">
                            <File Id="filD9394624944268A3073013B5607290BF" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\tzdb.dat" />
                        </Component>
                        <Component Win64="yes" Id="cmp73CF5D349144B4837B31CCB7FEE8F70C" Guid="*">
                            <File Id="filF34942F04A784CC4B7D5003F49289402" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\tzmappings" />
                        </Component>
                        <Directory Id="dir0C0C740522C131316524924808ED221F" Name="amd64">
                            <Component Win64="yes" Id="cmpD383BD4FF5C64B46D21A8D453E5684EC" Guid="*">
                                <File Id="fil197D18CA72C48AE13F6C8E9A5BD278C2" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\amd64\jvm.cfg" />
                            </Component>
                        </Directory>
                        <Directory Id="dir654F6D0A0ACE5AC50C6607060E823347" Name="cmm">
                            <Component Win64="yes" Id="cmp1F6D74457E379515C23E331F3054EF97" Guid="*">
                                <File Id="filAB187CCBA5C526E5B830D5CE78E54BD0" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\cmm\CIEXYZ.pf" />
                            </Component>
                            <Component Win64="yes" Id="cmp64EE5AE617D8AFE5B49B2930C64C05B6" Guid="*">
                                <File Id="fil74F02756024BB0351A6E21A046943C12" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\cmm\GRAY.pf" />
                            </Component>
                            <Component Win64="yes" Id="cmp6D62649A9BDE0DEC32ABD1B2F0320B32" Guid="*">
                                <File Id="filFBC624F66CE1807D4B2B52291E82CE3B" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\cmm\LINEAR_RGB.pf" />
                            </Component>
                            <Component Win64="yes" Id="cmpE8A3DF0866CFC535D677CF2D9AB78926" Guid="*">
                                <File Id="fil77AA55B2431123112EFCE8F6A00759D1" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\cmm\PYCC.pf" />
                            </Component>
                            <Component Win64="yes" Id="cmp55D6A83082424E1B53E4CF4CAB44C606" Guid="*">
                                <File Id="fil8C36BF0D56030DD3DBC4AC4E23FAE2AA" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\cmm\sRGB.pf" />
                            </Component>
                        </Directory>
                        <Directory Id="dir64545CB60D19342CB282DA4770971CC1" Name="deploy">
                            <Component Win64="yes" Id="cmp7935AE46748A45792BCD73F613130835" Guid="*">
                                <File Id="filEF585777DEBCBD253D0A591AD0403297" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\ffjcext.zip" />
                            </Component>
                            <Component Win64="yes" Id="cmp0BC19F5F4C6F03F04B4B892E90B13B78" Guid="*">
                                <File Id="filC898CEB863C98BCB96CE8394F3245DB4" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\messages.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmpB505DAF0C10F4B62273A084847CC88E1" Guid="*">
                                <File Id="fil30EAB7C9022FBA56E88FFB931A38AF61" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\messages_de.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmp2078DFC69ED85C752F954C18BA3B7F02" Guid="*">
                                <File Id="fil64FBF070616F2A1FAD7FE9B260290210" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\messages_es.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmp594554317DC1BC278053166DCF30248A" Guid="*">
                                <File Id="fil5B4D9C9EBD219471216340BA863FF40C" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\messages_fr.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmp2F17B149B11C66C0DDAFF5588AED82C0" Guid="*">
                                <File Id="filBD801FC5B0301B1A0DB0EC1EADC9651D" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\messages_it.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmp130B141C6B98E894B365FE2B936E88FB" Guid="*">
                                <File Id="fil57B3D7BB03EC94D8D514ABE4874A1441" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\messages_ja.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmpF95FDDE442CB8A9528CADEB4DBCE48C2" Guid="*">
                                <File Id="filB82C4EA20B6DBBB23C8BCA8FA550D503" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\messages_ko.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmpFC308E54C07999E4370ACC528E5954F8" Guid="*">
                                <File Id="fil3A755FC76DD1BECCEDE1BBBE0B037E35" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\messages_pt_BR.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmpB884296EF6B7D890B247C5506CAC4820" Guid="*">
                                <File Id="fil513D9E28D6D66D2430E03C3D6CBEF456" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\messages_sv.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmp44CE1644BD2C9BE3A2900B7DB4B680E3" Guid="*">
                                <File Id="filCDA841BD1E1ABE9D6D5877B13AC2EEEB" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\messages_zh_CN.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmp933F892122EEC197980D7AE76EA79FC4" Guid="*">
                                <File Id="filF9BF42273C5006F57980A513395ACFEB" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\messages_zh_HK.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmpBE3E2EC5EA502D83E3676B77D38021C7" Guid="*">
                                <File Id="fil78E2AFEA4CE9BA66D5953287E03072E6" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\messages_zh_TW.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmp77888C8B3F6AB958C0A02FC9607BE445" Guid="*">
                                <File Id="filA0870D4B3DCF9087E6FE92224B9C3FA8" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\splash.gif" />
                            </Component>
                            <Component Win64="yes" Id="cmp744E2C5C20B10B5EDA1C60321140C04A" Guid="*">
                                <File Id="filF3C0B7380F373689EF286183D45577C6" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\splash@2x.gif" />
                            </Component>
                            <Component Win64="yes" Id="cmp07D9442F482C8EBD4F9D07C58120846C" Guid="*">
                                <File Id="filC194A6878F190E4BA8276778ED6EBCBA" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\splash_11-lic.gif" />
                            </Component>
                            <Component Win64="yes" Id="cmp297B1EDC04D589902C3208D1B77E85E4" Guid="*">
                                <File Id="fil6D55DC5F94C051C65BD719E02B8196D9" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\deploy\splash_11@2x-lic.gif" />
                            </Component>
                        </Directory>
                        <Directory Id="dir78B35B8E40E15292BC75508E95A87FE8" Name="ext">
                            <Component Win64="yes" Id="cmpA939D50EF51EA305F401720A0FCA69B0" Guid="*">
                                <File Id="fil5990D14F7B065BF1D6282D43CC78C33B" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\ext\meta-index" />
                            </Component>
                        </Directory>
                        <Directory Id="dir010A2B7463D60C3AB2E9B65CA2963867" Name="fonts">
                            <Component Win64="yes" Id="cmp78B9B000B850F021BAA7CDF22C66B4A9" Guid="*">
                                <File Id="fil92537F35C403F1D15DBFC23B81B730B1" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\fonts\LucidaBrightDemiBold.ttf" />
                            </Component>
                            <Component Win64="yes" Id="cmp9811B4AB02133EFAB69D92B523E09BF3" Guid="*">
                                <File Id="fil425319FFB9E4B6C80D15661CEBC44B20" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\fonts\LucidaBrightDemiItalic.ttf" />
                            </Component>
                            <Component Win64="yes" Id="cmp08B55166168AE1EFCAF6958F01B5DAF5" Guid="*">
                                <File Id="filE5DE03C4C9B505061BE9DCCDB88EDF23" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\fonts\LucidaBrightItalic.ttf" />
                            </Component>
                            <Component Win64="yes" Id="cmp0ADCBF6DF83D2EE42F736259700103D6" Guid="*">
                                <File Id="fil9D2A2D28B9AED5C6C498ED6D5817A58E" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\fonts\LucidaBrightRegular.ttf" />
                            </Component>
                            <Component Win64="yes" Id="cmpB509F44C2E17D47B0A81CD4BFB3FE614" Guid="*">
                                <File Id="fil9BE7DE8BCBDAE88703C3B02948D2D8FE" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\fonts\LucidaSansDemiBold.ttf" />
                            </Component>
                            <Component Win64="yes" Id="cmp1CA207EAB7FA9C47BEB561CDF94BA9A2" Guid="*">
                                <File Id="fil1CFFE4E5D33C8C98C232439A4230F252" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\fonts\LucidaSansRegular.ttf" />
                            </Component>
                            <Component Win64="yes" Id="cmp25DB26A318A7E344712B25315E9D461B" Guid="*">
                                <File Id="fil4B83977586DBF2496FF28869AA9C3CF4" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\fonts\LucidaTypewriterBold.ttf" />
                            </Component>
                            <Component Win64="yes" Id="cmp98211F5055A31EBB13B1675F87A6E59A" Guid="*">
                                <File Id="filBFFE3D2D949471E3F7127CF04C25D1FB" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\fonts\LucidaTypewriterRegular.ttf" />
                            </Component>
                        </Directory>
                        <Directory Id="dir5048D07307FA6B85D1246DF3548D1827" Name="images">
                            <Directory Id="dirC058A3445A8E9C6A5473FE512462FAC5" Name="cursors">
                                <Component Win64="yes" Id="cmpD0515C5661E2F3EDB9B178079CE1A5DA" Guid="*">
                                    <File Id="fil8DD5EE95D0171173A78851A4C2764BD0" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\images\cursors\cursors.properties" />
                                </Component>
                                <Component Win64="yes" Id="cmp52D707AD9909E1E15CE8394FF6CC683C" Guid="*">
                                    <File Id="filBCADB0392F1064967A47306C0D8610A9" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\images\cursors\invalid32x32.gif" />
                                </Component>
                                <Component Win64="yes" Id="cmp95B09D80EB965DA0208A5EC03DC331E0" Guid="*">
                                    <File Id="fil527E1BB5F42CF838F85E33975E2F4D78" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\images\cursors\win32_CopyDrop32x32.gif" />
                                </Component>
                                <Component Win64="yes" Id="cmp3A005B538B7B1DA48881A32A9EE1C67F" Guid="*">
                                    <File Id="filD67351BA7C08ADF8F018B8B925614CD0" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\images\cursors\win32_CopyNoDrop32x32.gif" />
                                </Component>
                                <Component Win64="yes" Id="cmpF762ED64143C5213B247F94B27866622" Guid="*">
                                    <File Id="fil6840297A962E5239A3D2D283DFF161DD" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\images\cursors\win32_LinkDrop32x32.gif" />
                                </Component>
                                <Component Win64="yes" Id="cmp39230713641ADD564B9099D582490831" Guid="*">
                                    <File Id="fil57EFF61552589299089EC460293B9D5F" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\images\cursors\win32_LinkNoDrop32x32.gif" />
                                </Component>
                                <Component Win64="yes" Id="cmpCC63521D3DFDBC655BF337D8399900C4" Guid="*">
                                    <File Id="fil069797C9BC89E8FFA4AE1D602B2BF272" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\images\cursors\win32_MoveDrop32x32.gif" />
                                </Component>
                                <Component Win64="yes" Id="cmpE8910BAA121596E28C05A2EEFB544763" Guid="*">
                                    <File Id="fil09A764991079B3FB4255475094EF32F6" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\images\cursors\win32_MoveNoDrop32x32.gif" />
                                </Component>
                            </Directory>
                        </Directory>
                        <Directory Id="dirF5533D4BA254885CE80E58A6F71D8238" Name="jfr">
                            <Component Win64="yes" Id="cmp7AC825089ED496130444138838AF5B0D" Guid="*">
                                <File Id="fil4D6EB20E766C52E4F366E4C375C75A54" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\jfr\default.jfc" />
                            </Component>
                            <Component Win64="yes" Id="cmp47B7F0B0DE56196F4832A86AD64CEC10" Guid="*">
                                <File Id="fil3AC98DCB8F7981C7FEA5B234A88A5234" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\jfr\profile.jfc" />
                            </Component>
                        </Directory>
                        <Directory Id="dirF2148B03F75E3293A66B12906C5F1617" Name="management">
                            <Component Win64="yes" Id="cmp7D7127D846E2A9F472F62120757FCFDD" Guid="*">
                                <File Id="fil999BFEE8FCF48A56916B584EF6E6726F" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\management\jmxremote.access" />
                            </Component>
                            <Component Win64="yes" Id="cmpA529157A1AF04AF2D44C0DB66465D512" Guid="*">
                                <File Id="fil90ED681B681B43520FE1207CCEB076BE" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\management\jmxremote.password.template" />
                            </Component>
                            <Component Win64="yes" Id="cmpC13198733A46F26FFA1C37ABB54100D2" Guid="*">
                                <File Id="filC464AE612E1F0D91D41C1E1475BAE8AB" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\management\management.properties" />
                            </Component>
                            <Component Win64="yes" Id="cmpE8B6EDBFC0D0C6FCEF542C32F12356EA" Guid="*">
                                <File Id="filCDB23BD4081311AD3C4C298971E1EB75" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\management\snmp.acl.template" />
                            </Component>
                        </Directory>
                        <Directory Id="dirD7A08B47D6A6435835A9F99FACD0433F" Name="security">
                            <Component Win64="yes" Id="cmp4D1F6807725B7989496D4A8D261012FC" Guid="*">
                                <File Id="filDCA0FC4427C12880AD581C3613ADA9F3" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\security\blacklist" />
                            </Component>
                            <Component Win64="yes" Id="cmp2085C7EE88E56926216993F8A2D2B7F1" Guid="*">
                                <File Id="fil9B96C2E6B5D4DA379E1C44FAA7A960FE" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\security\blacklisted.certs" />
                            </Component>
                            <Component Win64="yes" Id="cmp47600F38D471450DEBE29782141EB22B" Guid="*">
                                <File Id="filEB8B61088FD6186499F2279CE6FBB142" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\security\cacerts" />
                            </Component>
                            <Component Win64="yes" Id="cmp8DB04659699EC7D9238D006DB4096427" Guid="*">
                                <File Id="fil2614D7F30FAB3E1F849A0B59B2921C52" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\security\java.policy" />
                            </Component>
                            <Component Win64="yes" Id="cmp8FE0130819C545234E7C12AA14D6F62F" Guid="*">
                                <File Id="fil180D238B6F776C41A56474D869ECCBC5" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\security\java.security" />
                            </Component>
                            <Component Win64="yes" Id="cmp83F3B910CBD3D8A497711A914CB5723A" Guid="*">
                                <File Id="filA117FD0CD59F6ACD0ED61BC4A12286C6" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\security\javaws.policy" />
                            </Component>
                            <Component Win64="yes" Id="cmpD68F4C18CD3A989437D6819FE76E3ACB" Guid="*">
                                <File Id="filF10D3F2D5E859166C1E9C0A5A83B2162" KeyPath="yes" Source="$(var.JavaPath)\jre1.8.0_144\lib\security\trusted.libraries" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="JavaFilesGroup">
            <ComponentRef Id="cmp9150AAB3EAFFF4D362A1DB22A1D6617A" />
            <ComponentRef Id="cmp1EF2B19DEF1928E6243BCD1DE46A93D2" />
            <ComponentRef Id="cmp4E900697C76718FE44F42586C55A0B7A" />
            <ComponentRef Id="cmp326545607ED6469417F92DE3D3CD22D7" />
            <ComponentRef Id="cmp237E7223D546C76123E9EB54C1D72A6A" />
            <ComponentRef Id="cmp68243A91E6E9ED91FD1F57BABC8D296A" />
            <ComponentRef Id="cmp8AF8DEF560CA0624A438E16FDE79A9F0" />
            <ComponentRef Id="cmpB6E8CFE5AA9FECD0A1432B3BE3477F65" />
            <ComponentRef Id="cmpE7F6B7535957D8B9C585BB994F050C7F" />
            <ComponentRef Id="cmp3D2C74F27764A1CD5EFDF7AD30CF6183" />
            <ComponentRef Id="cmp85D72ECB01C326FD595B210A759ECF05" />
            <ComponentRef Id="cmp4E5527F743EE8B3F7B0A55097523F11D" />
            <ComponentRef Id="cmpC708C8C84DDC5B0A5DB467662526F0A3" />
            <ComponentRef Id="cmp1C3944077A1AE5D9A8413054D5C27713" />
            <ComponentRef Id="cmp30500073E25013391B407704C12D6AB6" />
            <ComponentRef Id="cmp20F09CA3B1EA85CBF0319088337F5FBA" />
            <ComponentRef Id="cmpDFBC4B930D6AE80EAC69BEEF724E183B" />
            <ComponentRef Id="cmpD82E1FC3C19ABCA850CD5BBC5F1EDBFC" />
            <ComponentRef Id="cmp9A44C687C7A36BFC0955D2111750FD0D" />
            <ComponentRef Id="cmpB0CD6036FE204D73FB90545516592B32" />
            <ComponentRef Id="cmpC26EAA7FAD78CA414B38C9E06485313B" />
            <ComponentRef Id="cmpA4C0A7C6910C7D8AF6D20B7E49146D4D" />
            <ComponentRef Id="cmp39FD5BDC109FA6701B873552E5FF57F6" />
            <ComponentRef Id="cmp8D9B950F6F3D7197CE227252BEDE1E0F" />
            <ComponentRef Id="cmpB4291F9CDC0EA3E66E60492FB4F874D3" />
            <ComponentRef Id="cmp73CF5D349144B4837B31CCB7FEE8F70C" />
            <ComponentRef Id="cmpD383BD4FF5C64B46D21A8D453E5684EC" />
            <ComponentRef Id="cmp1F6D74457E379515C23E331F3054EF97" />
            <ComponentRef Id="cmp64EE5AE617D8AFE5B49B2930C64C05B6" />
            <ComponentRef Id="cmp6D62649A9BDE0DEC32ABD1B2F0320B32" />
            <ComponentRef Id="cmpE8A3DF0866CFC535D677CF2D9AB78926" />
            <ComponentRef Id="cmp55D6A83082424E1B53E4CF4CAB44C606" />
            <ComponentRef Id="cmp7935AE46748A45792BCD73F613130835" />
            <ComponentRef Id="cmp0BC19F5F4C6F03F04B4B892E90B13B78" />
            <ComponentRef Id="cmpB505DAF0C10F4B62273A084847CC88E1" />
            <ComponentRef Id="cmp2078DFC69ED85C752F954C18BA3B7F02" />
            <ComponentRef Id="cmp594554317DC1BC278053166DCF30248A" />
            <ComponentRef Id="cmp2F17B149B11C66C0DDAFF5588AED82C0" />
            <ComponentRef Id="cmp130B141C6B98E894B365FE2B936E88FB" />
            <ComponentRef Id="cmpF95FDDE442CB8A9528CADEB4DBCE48C2" />
            <ComponentRef Id="cmpFC308E54C07999E4370ACC528E5954F8" />
            <ComponentRef Id="cmpB884296EF6B7D890B247C5506CAC4820" />
            <ComponentRef Id="cmp44CE1644BD2C9BE3A2900B7DB4B680E3" />
            <ComponentRef Id="cmp933F892122EEC197980D7AE76EA79FC4" />
            <ComponentRef Id="cmpBE3E2EC5EA502D83E3676B77D38021C7" />
            <ComponentRef Id="cmp77888C8B3F6AB958C0A02FC9607BE445" />
            <ComponentRef Id="cmp744E2C5C20B10B5EDA1C60321140C04A" />
            <ComponentRef Id="cmp07D9442F482C8EBD4F9D07C58120846C" />
            <ComponentRef Id="cmp297B1EDC04D589902C3208D1B77E85E4" />
            <ComponentRef Id="cmpA939D50EF51EA305F401720A0FCA69B0" />
            <ComponentRef Id="cmp78B9B000B850F021BAA7CDF22C66B4A9" />
            <ComponentRef Id="cmp9811B4AB02133EFAB69D92B523E09BF3" />
            <ComponentRef Id="cmp08B55166168AE1EFCAF6958F01B5DAF5" />
            <ComponentRef Id="cmp0ADCBF6DF83D2EE42F736259700103D6" />
            <ComponentRef Id="cmpB509F44C2E17D47B0A81CD4BFB3FE614" />
            <ComponentRef Id="cmp1CA207EAB7FA9C47BEB561CDF94BA9A2" />
            <ComponentRef Id="cmp25DB26A318A7E344712B25315E9D461B" />
            <ComponentRef Id="cmp98211F5055A31EBB13B1675F87A6E59A" />
            <ComponentRef Id="cmpD0515C5661E2F3EDB9B178079CE1A5DA" />
            <ComponentRef Id="cmp52D707AD9909E1E15CE8394FF6CC683C" />
            <ComponentRef Id="cmp95B09D80EB965DA0208A5EC03DC331E0" />
            <ComponentRef Id="cmp3A005B538B7B1DA48881A32A9EE1C67F" />
            <ComponentRef Id="cmpF762ED64143C5213B247F94B27866622" />
            <ComponentRef Id="cmp39230713641ADD564B9099D582490831" />
            <ComponentRef Id="cmpCC63521D3DFDBC655BF337D8399900C4" />
            <ComponentRef Id="cmpE8910BAA121596E28C05A2EEFB544763" />
            <ComponentRef Id="cmp7AC825089ED496130444138838AF5B0D" />
            <ComponentRef Id="cmp47B7F0B0DE56196F4832A86AD64CEC10" />
            <ComponentRef Id="cmp7D7127D846E2A9F472F62120757FCFDD" />
            <ComponentRef Id="cmpA529157A1AF04AF2D44C0DB66465D512" />
            <ComponentRef Id="cmpC13198733A46F26FFA1C37ABB54100D2" />
            <ComponentRef Id="cmpE8B6EDBFC0D0C6FCEF542C32F12356EA" />
            <ComponentRef Id="cmp4D1F6807725B7989496D4A8D261012FC" />
            <ComponentRef Id="cmp2085C7EE88E56926216993F8A2D2B7F1" />
            <ComponentRef Id="cmp47600F38D471450DEBE29782141EB22B" />
            <ComponentRef Id="cmp8DB04659699EC7D9238D006DB4096427" />
            <ComponentRef Id="cmp8FE0130819C545234E7C12AA14D6F62F" />
            <ComponentRef Id="cmp83F3B910CBD3D8A497711A914CB5723A" />
            <ComponentRef Id="cmpD68F4C18CD3A989437D6819FE76E3ACB" />
        </ComponentGroup>
    </Fragment>
</Wix>
