<?xml version="1.0" encoding="UTF-8"?>

<!-- The name of the product -->
<?define Name = "Deep Storage Browser" ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "Spectra Logic" ?>

<?define UpgradeCode = "61718ba5-b4c2-43b8-838b-fb3930c5ed3f" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.Name)" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

    <Icon Id="icon.ico" SourceFile="$(var.ProjectDir)deep_storage_browser.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <UI>
      <Publish
        Dialog="WelcomeDlg"
        Control="Next"
        Event="NewDialog"
        Value="InstallDirDlg"
        Order="5">
        1
      </Publish>

      <Publish
        Dialog="InstallDirDlg"
        Control="Back"
        Event="NewDialog"
        Value="WelcomeDlg"
        Order="5">
        1
      </Publish>
    </UI>

    <WixVariable Id="WixUIDialogBmp" Value="..\..\..\Dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="..\..\..\Banner.bmp" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.Name)" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />

    <CustomAction
      Id="LaunchApplication"
      Directory="INSTALLFOLDER"
      ExeCommand="[INSTALLFOLDER]\distributions\dsb-gui-$(var.Version)\bin\dsb-gui.exe"
      Return="asyncNoWait"/>

    <UI>
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <MajorUpgrade
      Schedule="afterInstallExecute"
      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."
      AllowSameVersionUpgrades="yes"/>
    
    <MediaTemplate EmbedCab="yes"/>

    <Binary Id="CustomAction.CA.dll" SourceFile="$(var.ProjectDir)..\CustomAction\bin\Release\CustomAction.CA.dll" />
    <InstallExecuteSequence>
      <Custom Action="DeleteLogFile" After="InstallFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>

    <CustomAction Id="DeleteLogFile" Return="check" Execute="immediate" BinaryKey="CustomAction.CA.dll" DllEntry="DeleteLogFile"/>


    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentGroupRef Id="JavaFilesGroup"/>
      <ComponentGroupRef Id="DsbFilesGroup"/>
      <ComponentRef Id="InstallRegistryComponent"/>
    </Feature>
  </Product>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{B48BD021-AD51-4811-A5B9-A70892BD7334}">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="$(var.Name)" 
                  Icon="icon.ico"
                  Target="[INSTALLFOLDER]\distributions\dsb-gui-$(var.Version)\bin\dsb-gui.exe"
                  />
        <RemoveFolder Id="ApplicationProgramsFolder" On="both" />
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.Name)" Name="ApplicationShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="{8213EAF3-AFB1-4946-9A79-99A8543732E7}">
        <Shortcut Id="ApplicationDesktopShortcut" 
                  Name="$(var.Name)"
                  Icon="icon.ico"
                  Target="[INSTALLFOLDER]\distributions\dsb-gui-$(var.Version)\bin\dsb-gui.exe"
                  />
        <RemoveFolder Id="DesktopFolder" On="both" />
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.Name)" Name="ApplicationDesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="$(var.Name)">
              <Component Id="InstallRegistryComponent" Guid="DA853441-B495-4D79-9839-EFC2B7704F9A">
                <RegistryKey Id='InstallDirKey' Root='HKCU' Key='Software\$(var.Manufacturer)\$(var.Name)' Action='createAndRemoveOnUninstall'>
                  <RegistryValue Type='string' Name='InstallFolder' Value="[INSTALLFOLDER]"/>
                </RegistryKey>
              
                <RegistryKey Id='InstallVersionKey' Root='HKCU' Key='Software\$(var.Manufacturer)\$(var.Name)' Action='createAndRemoveOnUninstall'>
                  <RegistryValue Type='string' Name='Version' Value="$(var.Version)"/>
                </RegistryKey>
              </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.Manufacturer)" />
      </Directory>
      <Directory Id="DesktopFolder" Name="desktop">
      </Directory>
    </Directory>
  </Fragment>
</Wix>
