@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url('fonts/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'Open Sans Semibold';
    src: url('fonts/OpenSans-Semibold.ttf');
}
.label{
 -fx-font-family: 'Open Sans Semibold';
}

.button {
 -fx-background-color:
         #3c7fb1,
         linear-gradient(#fafdfe, #e8f5fc),
         linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
     -fx-background-insets: 0,1,2;
     -fx-background-radius: 3,2,1;

     -fx-text-fill: black;
     -fx-font-size: 14px;

}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}
.tab-pane .tab {
    -fx-text-fill: black;
}