@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url('fonts/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'Open Sans Semibold';
    src: url('fonts/OpenSans-Semibold.ttf');
}
.menu-bar {
    -fx-background-color: black;
}

.tool-bar {
    -fx-background-color: aliceblue;
}

.menu .label {
    -fx-font-family: 'Open Sans ExtraBold';
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.menu-item .label {
-fx-text-fill: black;
-fx-font-family: 'Open Sans Semibold';
}

.label{
 -fx-font-family: 'Open Sans Semibold';
}

#homeButton,#refreshButton,#localButton,#transferButton,#ds3Refresh,#ds3NewBucket,#ds3NewFolder,#ds3DeleteButton,#ds3TransferLeft
{

   -fx-background-insets: 0,1,2;
   -fx-background-radius: 3,2,1;

}

.successText {
    -fx-text-fill: GREEN;
    -fx-fill: GREEN;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;

}

.errorText {
    -fx-background-color: RED;
    -fx-fill: RED;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.logText {
    -fx-background-color: BLACK;
    -fx-text-fill: #4F8A10;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

